<div class="group">
    <input id="input" type={{type}} name={{name}} required />
    <span class="highlight"></span>
    <span class="bar"></span>
    <label for="input">{{label}}</label>
    <div class="error-message">{{error_message}}</div>
</div>